<form class="create-board-form flex flex-col gap-3">
  <label class="w-full">
    {{#if error.title}}
      <p class="text-red-500">Errorr</p>
    {{/if}}
    <p class="text-sm text-black">Title</p>
    <input type="text" name="title" class="p-2 w-full border rounded" />
  </label>

  <label class="w-full">
    {{#if error.description}}
      <p class="text-red-500">Errorr</p>
    {{/if}}
    <p class="text-sm text-black">Description</p>
    <textarea name="description" class="p-2 w-full border rounded"></textarea>
  </label>
</form>