<div class="grid grid-rows-layout min-h-screen">
  <header class="p-5 bg-slate-50 flex justify-end">
    <nav class="flex gap-5">
      <router-link
        href="${props.routes.signIn}"
        class="text-blue-600 hover:text-blue-700"
        label="Sign In"
      ></router-link>
      <router-link
        href="${props.routes.signUp}"
        class="text-blue-600 hover:text-blue-700"
        label="Sign Up"
      ></router-link>
    </nav>
  </header>

  <main>
    <div
      class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16 pt-20 text-center lg:pt-32"
    >
      <h1
        class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight text-slate-900 sm:text-7xl"
      >
        Welcome to
        <span class="relative whitespace-nowrap text-blue-600">Task Manager</span>
      </h1>
      <p class="mx-auto mt-6 max-w-2xl text-lg tracking-tight text-slate-700">
        Start manage you activities right now
      </p>
    </div>
  </main>

  <footer class="bg-slate-50 p-5">
    <p class="text-sm text-slate-500 sm:mt-0">
      Copyright © 2024. All rights reserved.
    </p>
  </footer>
</div>