{{#if isOpen}}
<div class="fixed top-0 left-0 right-0 bottom-0 bg-black/[0.5]">
  <div class="w-[700px] h-full">
    <!-- Drawer content -->
    <div class="bg-white shadow animate-fade-right animate-duration-500 pb-5">
      <!-- Drawer header -->
      <div class="flex items-center justify-between p-4 border-b rounded-t">
        <h3 class="text-xl font-semibold text-gray-900">
          {{ title }}
        </h3>
        <button type="button"
          class="drawer-reject-trigger text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-lg w-8 h-8 ms-auto inline-flex justify-center items-center "
          data-modal-hide="default-modal">
          <div class="icon-x-circle"></div>
        </button>
      </div>
      <!-- Drawer body -->
      <div class="p-4 space-y-4 drawer-body h-screen overflow-auto pb-32">

      </div>
    </div>
  </div>
</div>
{{/if}}