<div>
    <app-router>
        <app-route path="/" title="Home Page" component="home-page"></app-route>
        <app-route path="/board/:id" title="Board Page" component="board-page"></app-route>
        <app-route path="/404" title="404 | Not Found" component="not-found"></app-route>
        <app-outlet></app-outlet>
    </app-router>
</div>